# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - sentrydash-backend

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to container registry
        uses: docker/login-action@v2
        with:
          registry: sentrydash.azurecr.io/
          username: ${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_85373C2258E14D538960A50FB39C0897 }}
          password: ${{ secrets.AZUREAPPSERVICE_CONTAINERPASSWORD_E23012B7FB1A46FFAFEBC4BD22B0C927 }}

      - name: Build and push container image to registry
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: sentrydash.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_85373C2258E14D538960A50FB39C0897 }}/sentrydash/sentrydash-backend:${{ github.sha }}
          file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    
    needs: build
    
    steps:
      
      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'sentrydash-backend'
          slot-name: 'Production'
          images: 'sentrydash.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_85373C2258E14D538960A50FB39C0897 }}/sentrydash/sentrydash-backend:${{ github.sha }}'
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_9E1640BB7C4144F1BB0FC834C755AC09 }}